.btn-icon {
  height: 1.8em;
  width: 1.8em;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border-radius: 50%;
}

.btn-icon:hover,
.btn-icon:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.icon-container {
  border-radius: 50%;
}
