.Container {
    background: rgb(31, 30, 119);
    color: #202020;
    position: sticky;
    padding-top: 20px;
}

.Sidebarbutton {
    position: absolute;
    top: 48px;
    right: -18px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px rgb(230, 230, 230), 0 0 7px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    transform: rotate(180deg);
    border: none;
    letter-spacing: inherit;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    padding: 0;
    font-family: inherit;
    outline: none;
}

.Logocontent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
}

.LinkContainer {
    margin: 8px 0;
    padding: 0 10%;    
}

.LinkContainer:hover {
    background: rgb(230, 230, 230);    
}

.Links {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: calc(8px -2px) 0;
    color: #fff;
}

.active,
.Linkicon,
i {
    color: #000000;
}

.Linkicon {
    padding: 8px 16px;
    display: flex;
}

i {
    font-size: 20px;
}

.imgcontent {
    display: flex;
    cursor:pointer;
    transition: all 0.3s;
    scale: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

.Divider {
    height: 1px;
    width: 100%;
    background: rgb(31, 30, 119);
    margin: 24px 0;
}