.Container {
  position: sticky;
}

.Sidebarbutton {
  position: absolute;
  top: 48px;
  right: -18px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  letter-spacing: inherit;

  font-size: inherit;
  text-align: inherit;
  padding: 0;
  font-family: inherit;
  outline: none;
}

.LinkContainer {
  margin: 8px 0;
  padding: 0 10%;
}

.LinkContainer:hover {
  background: rgb(230, 230, 230);
}

.Links {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: calc(8px -2px) 0;
  color: rgba(255, 255, 255, 0.5);
}
.Links.active {
  color: #fff;
}

.Linkicon {
  padding: 8px 16px;
  display: flex;
}

i {
  font-size: 20px;
}

.Divider {
  height: 1px;
  width: 100%;
  background: rgb(31, 30, 119);
  margin: 24px 0;
}
